<div class="topbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <a href="/"><img src="/img/logo_512_w.png"></a>
            </div>
            <div class="col col-md-6 d-lg-none text-end">
                <span class="menutoggle">Menu</span>
            </div>
        </div>
    </div>
</div>
<div class="menubar">
    <div class="menu container-fluid">
        <div class="row justify-content-end">
            <div class="menuitem col-12 active">
                <a class="btn btn-slanted btn-sliding" href="/about"><span>About</span></a>
            </div>
            <div class="menuitem col-12">
                <a class="btn btn-slanted btn-sliding" href="/team"><span>Team</span></a>
            </div>
            <div class="menuitem col-12">
                <a class="btn btn-slanted btn-sliding" href="/jobs"><span>Jobs</span></a>
            </div>
            <div class="menuitem col-12">
                <a class="btn btn-slanted btn-sliding" href="/packages"><span>Packages</span></a>
            </div>
        </div>
    </div>
</div>