<div class="topbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <a href="/"><img src="/img/logo_512_w.png"></a>
            </div>
            <div class="col col-md-6 d-lg-none text-end">
                <span class="menutoggle">Menu</span>
            </div>
        </div>
    </div>
</div>
<div class="menubar">
    <div class="menu container-fluid">
        <div class="row justify-content-end">
            <div class="menuitem col-12 active">
                <a class="btn btn-slanted btn-sliding" href="/{{include.mode | replace: 'packages', 'packages/' | replace: '//', '/' }}"><span>Intro</span></a>
            </div>
            <div class="menuitem col-12">
                <a class="btn btn-slanted btn-sliding" href="/{{include.mode | replace: 'packages', 'packages/' | replace: '//', '/' }}/releases"><span>Releases</span></a>
            </div>
            {% if include.mode == "packages/cj4" or include.mode == "packagescj4" or include.mode == "cj4"
            or include.mode == "packages/nxi"or include.mode == "packagesnxi" or include.mode == "nxi"
            or include.mode == "packages/gns"or include.mode == "packagesgns" or include.mode == "gns" %}
            <div class="menuitem col-12">
                <a class="btn btn-slanted btn-sliding" href="/{{include.mode | replace: 'packages', 'packages/' | replace: '//', '/' }}/guides"><span>Guides</span></a>
            </div>
            {% endif %}
            {% if include.mode == "packages/cj4" or include.mode == "packagescj4" or include.mode == "cj4" %}
            <div class="menuitem col-12">
                <a class="btn btn-slanted btn-sliding" href="/{{include.mode | replace: 'packages', 'packages/' | replace: '//', '/' }}/repaints"><span>Repaints</span></a>
            </div>
            {% endif %}
            <div class="menuitem col-12">
                <a class="btn btn-slanted btn-sliding" href="/{{include.mode | replace: 'packages', 'packages/' | replace: '//', '/' }}/issues"><span>Known Issues</span></a>
            </div>
            {% if include.mode != "packages/nxi" and include.mode != "packagesnxi" and  include.mode != "nxi"
            and include.mode != "packages/gns" and include.mode != "packagesgns" and  include.mode != "gns" %}
            <div class="menuitem col-12">
                <a class="btn btn-slanted btn-sliding" href="/{{include.mode | replace: 'packages', 'packages/' | replace: '//', '/' }}/statistics"><span>Statistics</span></a>
            </div>
            <div class="menuitem col-12">
                <a class="btn btn-slanted btn-sliding" href="https://github.com/Working-Title-MSFS-Mods/fspackages/" target="_blank"><span>Github</span></a>
            </div>
            {% endif %}
        </div>
    </div>
</div>